<div class="divexterna">
    <div class="">
        <div class="">
            <nav class=" navbar navbar-expand-lg border-bottom border-white">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" href="#">Chromodoro</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
                        <div class="d-flex">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item mx-2 mt-1">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                        data-bs-target="#modalconfig">
                                        Opções
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalconfig" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Configurações
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container text-center">
                                                        <legend class="form-label fs-4">Timer</legend>
                                                        <legend class="form-label fs-5 text-start" for="labeltimer">
                                                            Tempo
                                                            (minutos)</label>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label class="fs-6"
                                                                        for="pomodorotimer">Pomodoro</label>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="fs-6" for="pomodoroshort">Pausa
                                                                        curta</label>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="fs-6" for="pomodorolong">Pausa
                                                                        longa</label>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <input class="form-control" type="number"
                                                                        name="pomodorotimer" id="pomodorotimer"
                                                                        value="25">
                                                                </div>
                                                                <div class="col">
                                                                    <input class="form-control" type="number"
                                                                        name="pomodoroshort" id="pomodoroshort"
                                                                        value="5">
                                                                </div>
                                                                <div class="col">
                                                                    <input class="form-control" type="number"
                                                                        name="pomodorolong" id="pomodorolong"
                                                                        value="15">
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-column mt-2">
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <label class="fs-6"
                                                                            for="btn-toggle-auto-short">Pausa curta
                                                                            automática</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <button type="button"
                                                                            class="btn btn-primary rounded-circle option"
                                                                            data-bs-toggle="button">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-column mt-2">
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <label class="fs-6"
                                                                            for="btn-toggle-auto-pomodoro">Pausa longa
                                                                            automática</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <button type="button"
                                                                            class="btn btn-primary rounded-circle option"
                                                                            data-bs-toggle="button">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-column mt-2">
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <label class="fs-6"
                                                                            for="btn-toggle-auto-pomodoro">Pomodoros
                                                                            automáticos</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <button type="button"
                                                                            class="btn btn-primary rounded-circle option"
                                                                            data-bs-toggle="button">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" id="btnsaveopt">Salvar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mx-2 mt-1">
                                    <a class="btn btn-light" href="/conta">Conta</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="timercontainer">
                <div class="d-flex flex-column timersection">
                    <div class="d-flex justify-content-evenly divbtn">
                        <button class="btn btn-outline-light btn-lg timerbtn" id="btnpomodoro">Pomodoro</button>
                        <button class="btn btn-outline-light btn-lg timerbtn" id="btnpausacurta">Pausa curta</button>
                        <button class="btn btn-outline-light btn-lg timerbtn" id="btnpausalonga">Pausa longa</button>
                    </div>
                    <div class="d-flex justify-content-center text-white " id="divtimer">
                        25:00
                    </div>
                    <div class="d-flex justify-content-center pb-2">
                        <button class="btn btn-outline-light btn-lg timerbtn" id="btniniciar">Iniciar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

